body {
  margin: 0;
  font-size: 20px;
  font-family: monospace;
  background: #222222;
  color: pink;
}

input {
  position: relative;
  font-family: monospace;
  font-size: 14px;
  padding: 10px 16px;
  margin: 10px;
  background: pink;
  outline: none;
  border: none;
  border-radius: 2px;
  width: 700px;

  transition: all 0.2s;
  cursor: pointer;
  top: 0px;
}